@import '../../../sass/base/variables';

.post {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  padding: 1rem;

  &__loading {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-grey-dark-3;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__userinfo {
    display: flex;
    align-items: center;
    color: inherit;
  }

  &__usericon {
    height: 100%;
    width: 1.5rem;
    margin-right: 1rem;
  }

  &__title {
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__tags {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__content {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    flex: 1;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__actions {
    display: flex;
  }

  &__action {
    display: flex;
    align-items: center;
    color: $color-grey-dark-2;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__action-icon {
    font-size: 1.8rem;
    margin-right: 1rem;
  }

  &__pin {
    margin-right: 0.8rem;
    font-size: 2.1rem;
    transform: rotate(-45deg);
  }

  &__error {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
