@import '../../../sass/base/variables';

.input {
  width: 100%;
  padding: 1rem;

  &__element {
    outline: none;
    border: 1px solid $border-color;
    font-size: $default-font-size;
    padding: 0.6rem 1rem;
    width: 100%;

    &:focus {
      outline: none;
      background-color: $color-grey-light-3;
    }
  }

  &__invalid {
    border: 1px solid red;
    background-color: salmon;
  }

  &__error-message {
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
