@import '../../../sass/base/variables';

.reply {
  border: 1px solid $border-color;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-grey-dark-3;
    font-size: 1.4rem;
    font-weight: 700;
    height: 4rem;
    border-bottom: 1px solid $border-color;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__top-right {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__delete {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__userinfo {
    display: flex;
    align-items: center;
  }

  &__usericon {
    height: 100%;
    width: 1.5rem;
    margin-right: 1rem;
  }

  &__content {
    min-height: 8rem;
    padding: 1rem;
  }

  &__loading {
    display: flex;
    justify-content: center;
  }
}
