@import '../../../sass/base/variables';
@import '../../../sass/abstracts/mixins';

.thread-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }

  &__userinfo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-dark-2;
    margin-top: 1.5rem;
    align-self: flex-start;
  }

  &__usericon {
    margin-right: 1rem;
  }

  &__metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;

    @include respond(phone) {
      flex-direction: column-reverse;
      align-items: start;
    }
  }

  &__tags {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    @include respond(phone) {
      margin-top: 1rem;
    }
  }

  &__stats {
    display: flex;
    font-weight: 900;
    font-size: 1.2rem;
    color: $color-grey-dark-3;

    & > * {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
