@import '../../sass/abstracts/mixins';

.layout {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  max-width: 110rem;

  @include respond(phone) {
    padding: 0;
  }
}

.main {
  margin-top: 2rem;
}
