@import '../../sass/base/variables';

.thread {
  display: flex;
  flex-direction: column;

  &__loading {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__editor {
    position: relative;
    margin-top: 2rem;
    min-height: 20rem;
  }

  &__signin {
    height: 5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__replies {
    margin-top: 2rem;
  }
}
