@import '../../sass/base/variables';

.thread {
  display: flex;
  flex-direction: column;

  &__editor {
    margin-top: 2rem;
    border: 1px solid $border-color;
    min-height: 10rem;
  }

  &__replies {
    margin-top: 2rem;
  }
}
