@import '../../../sass/base/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  &__logo-title {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__logo {
    height: 4rem;
    margin-right: 1rem;
  }

  &__auth {
    text-transform: uppercase;
  }

  &__menu {
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__usericon {
    width: 3rem;
    height: 100%;
  }

  &__username {
    margin-left: 1rem;
    font-weight: 600;
  }

  &__menu-item {
    width: 100%;
  }
}
