@import '../../../sass/base/variables';

.navbar {
  height: 4rem;
  width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &__forum-list {
    display: flex;
    list-style: none;
    height: 100%;
  }

  &__forum {
    display: flex;
    height: 100%;
    transition: 0.5s;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    color: $color-grey-dark-3;

    &--selected {
      background-color: $color-grey-light-3;
      color: black;
    }

    &:hover {
      color: black;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: inherit;
    height: 100%;
  }

  &__loading {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-dark-3;
    margin-left: 1rem;
  }
}
