.user-profile {
  &__top {
    display: flex;
    margin-bottom: 2rem;
  }

  &__usericon {
    width: 7rem;
    height: 100%;
    margin-right: 2rem;
  }

  &__userinfo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  &__label {
    font-weight: 500;
  }

  &__loading {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
