@import '../../sass/base/variables';
@import '../../sass/abstracts/mixins';

.rich-editor {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  height: 100%;
  width: 100%;

  &--read-only {
    border: none;
  }

  &--thread {
    min-height: 40rem;
  }

  &--reply {
    min-height: 20rem;
  }

  &__style-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $border-color;
    padding: 1rem;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__editor {
    flex: 1;
    padding: 1rem;
    font-weight: 500;
    border-bottom: 1px solid $border-color;

    &--read-only {
      padding: 0;
      border: none;
    }
  }

  &__reply {
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-grey-dark-2;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      color: black;
    }
  }
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: $color-grey-dark-3;
  font-weight: 500;
}

.blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  font-style: italic;
  font-family: serif;
  padding: 0.5rem;
}

.code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: monospace;
  padding: 0.5rem;
}

.h1 {
  font-size: 2rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
