@import '../../sass/abstracts/mixins';
@import '../../sass/base/variables';

.forum-feed {
  display: flex;

  &__boxes {
    width: 75%;
    margin-right: 2rem;

    & > * {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @include respond(tab-port) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__loading {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__new-thread {
    width: 25%;
    flex: 1 0;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  @include respond(tab-port) {
    flex-direction: column-reverse;
  }

  &__not-found {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: $color-grey-dark-3;
  }
}
